* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav1 {
    position: sticky;
    top: 0;

}

.mainDiv {
    display: flex;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    background-color: white;
}

.logoBrand,
.navList,
.logSearch {
    padding-top: 20px;
}

.logoBrand {
    float: left;
    padding-left: 20px;
}

.logo {
    font-size: 30px;
}

.navList {
    display: flex;
    list-style-type: none;
    /* margin-left: 60px; */
}

.navItem {
    display: flex;
    margin: 3px 15px;
}

.navLink:link {
    color: black;
    font-size: larger;
    text-decoration: none;
}

.navLink:visited {
    color: black;

}

.logSearch {
    padding-right: 30px;
    display: flex;
    gap: 20px;
}


/* header Section */
.header{
    height: 400px;
    width: 100%;
    background-image: url("https://www.shutterstock.com/image-illustration/laptop-flying-furniture-shopping-online-260nw-2236966119.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:  50px;
}
.header h2{
    padding: 50px 0 0 50px;
}
.header p{
    padding: 30px 0 0 50px;
}
.orangeBTN {
    background-color: orange;
    color: white;
    font-weight: 200;
    border: none;
    text-decoration: none;
    padding: 9px;
    margin: 40px 10px 0 50px;
    height: 30px;
    width: 100px;
}

.greenBTN {
    background-color: rgb(46, 141, 46);
    color: white;
    font-weight: 200;
    border: none;
    text-decoration: none;
    padding: 9px;
    height: 30px;
    width: 100px;
    margin-right: 150px;
    margin-bottom: 5px;
}
.col-icon{
    margin-right: 110px;
}

.Iframe{
   width: 30%;
   height: 300px;
}

/* productList section */
.prodMain {
    width: 80%;
    margin: 10px auto;
}
.prodMain h4{
    margin: 50px 0 20px 74px;
}
.prodMain h3{
    margin: 0px 0 10px 0px;
}

.prodMain p{
    padding: 0 0 30px 74px;
}

.prodList {
    display: flex;
    height: 400px;
    justify-content: space-around;
}

.card {
    background-color: rgb(240, 238, 238);
    width: 18rem;
    height: 350px;
}

.imgCard {
    width: 100%;
    height: 80%;
}

.titleCard {
    color: rgb(38, 141, 151);
    /* margin-bottom: 10px; */
    text-align: center;

}

.priceAndBTN {
    display: flex;
    justify-content: space-between;
}

.aboutUs {
    width: 80%;
    height: 300px;
    display: flex;
}

.aboutUsMain {
    flex: 2
} 

.aboutUsMain img {
    width: 70%;
    height: 100%;
    margin: 0px 0 0 200px;
}

.headerAboutus {
    flex: 1;
}
.headerAboutus h1, p{
    padding: 0;
    margin: 0 0 20px 0;
}
.blog{
    text-align: center;
    margin: 50px 0 20px 0;
}
.blogBtn{
    margin-left: 90px;
    margin-top: 10px;
}
.contactUs {
    height: 450px;
    width: 90%;
    margin: 10px auto;
    display: flex;
     margin-top: 70px;
}

.leftDiv{
    flex: 2;
    margin-left: 350px;
    margin-top: 40px;
}
.leftDiv h3{
    margin-bottom: 20px;
}
.leftDiv input{
    margin-bottom: 15px;
    height: 30px;
    padding-left: 5px;
     width: 70%;
}
.leftDiv .msg{
    height: 50px;
}
.sendBTN{
    background-color: rgb(102, 102, 187);
    width: 15%;
    height: 30px;
    color: white;
    border: none;
}
.rightDiv{
    flex: 1;
    margin-right: 200px;
}
.rightDiv iframe{
    width: 500px;
    height: 400px;
}

.footer {
    background-color: black;
    height: 350px;
    color: white;
}
.column .col a:link,
.column .col a:visited
{
    color: white;
}
.commonFooter {
    display: flex;
    width: 80%;
    margin: 5px auto;
    padding-top: 20px;
}

.column {
    flex: 1;
    text-align: center;
}
.links{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto; 
    gap: 10px 20px; 
}
.column h3{
    margin-bottom: 15px;
}
.links a{
      color: white;
      text-decoration: none;
}
.column .col1{
    margin-left: 130px;
}
.column .col2{
    margin-right: 80px;
}

.call:hover,
.email:hover,
.location:hover {
    color: #ff0000;
}

.imgInFooter {
    width: 60px;
    height: 60px;
}

.contactFormFooter p {
    font-size: xx-large;
}
.email{
    margin-right: 30px;
    width: 50%;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.customIcon:hover {
    color: red;
}

footer p {
    text-align: center;
}
.call{
    margin-left: 100px;
}
.location{
    margin-right: 30px;
}
.end{
    margin-top: 20px;
}

.topArrow {
    width: 70px;
    position: sticky;
    left: 95%;
    bottom: 30px;
    border: 3px ridge rgb(128, 128, 128);
    border-radius: 50%;
    text-align: center;
}

.top {
    color: black;
    text-decoration: none;
}